@import './variable.scss';
@import './reset.scss';

html, body {
    font-family: SourceHanSerifSC-SemiBold;
}

* {
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: auto;
    overflow: hidden;
    overflow-x: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: $mainColor;
    z-index: 1000;
}

.body {
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 39px;
    width: 1200px;
    overflow: hidden;
    .title-container {
        position: relative;
        h4 {
            position: relative;
            display: inline-block;
            font-size: 72px;
            color: #646466;
            letter-spacing: 0;
            &::before {
                content: '个相册';
                position: absolute;
                display: inline-block;
                font-size: 18px;
                right: -70px;
                bottom: 10px;
            }
        }
        .search {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            width: 360px;
            height: 40px;
            padding: 10px 52px;
            background: $mainColor;
            box-shadow: 0 2px 4px 0 rgba(100,100,102,0.40);
            border-radius: 100px;
            input {
                background: $mainColor;
                outline: none;
                border: 0;
                font-size: 14px;
                letter-spacing: 0;
                color: $textColor;
                &::-webkit-input-placeholder {
                    color: $textColor;
                }
            }
        }
    }

    .card-container {
        margin-top: 70px;
        margin-right: -81px;
        font-size: 0;
        overflow: hidden;
        &>li {
            display: inline-block;
            padding-right: 81px;
            padding-bottom: 110px;
        }
        .card {
            display: inline-block;
            width: 320px;
            height: 420px;
            border-radius: 6px;
            overflow: hidden;
        }
        .card-add {
            @extend .card;
            border: 4px dashed $borderColor;
            span {
                display: inline-block;
                color: $borderColor;
                margin-top: 75px;
                margin-left: 50%;
                transform: translateX(-50%);
                font-size: 18px;
            }
            &:hover {
                .icon-add {
                    background-image: url(../../assets/images/icons/add.svg);
                }
            }
        }
        .card-item {
            position: relative;
            box-shadow: 0 20px 6px -10px rgba(0,0,0,.23), 0 40px 6px -20px rgba(0,0,0,.16);
            @extend .card;
            img  {
                width: 100%;
                height: 100%;
            }
            .card-footer-base {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 18px;
                color: $textColor;
                background: rgba(0,0,0,0.50);
            }
            .card-footer {
                @extend .card-footer-base;
                opacity: 1;
                transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1) .1s;
            }
            .card-footer-btns {
                @extend .card-footer-base;
                bottom: -60px;
                padding: 13px 0;
                font-size: 0;
                margin-right: -47px;
                transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                li {
                    display: inline-block;
                    padding-right: 47px;
                }
            }
            &:hover {
                .card-footer {
                    opacity: 0;
                }
                .card-footer-btns {
                    display: block;
                    bottom: 0;
                }
            }
        }
    }
}

.footer {
    margin-top: 50px;
    margin-bottom: 193px;
    height: 20px;
    line-height: 20px;
    .tip {
        position: relative;
        width: 480px;
        margin: 0 auto;
        text-align: center;
        color: $borderColor;
        span {
            position: absolute;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            display: inline-block;
            width: 170px;
            border: 1px solid $borderColor;
        }
        span.left {
            left: 0;
        }
        span.right {
            right: 0;
        }
    }
}

.icon {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-search {
    @extend .icon;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url(../../assets/images/icons/search.svg);
}

.icon-add {
    @extend .icon;
    margin-left: 50%;
    margin-top: 101px;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    background-image: url(../../assets/images/icons/add.svg);
}

.icon-edit {
    @extend .icon;
    width: 32px;
    height: 32px;
    background-image: url(../../assets/images/icons/edit.svg);
}

.icon-menu {
    @extend .icon;
    width: 32px;
    height: 32px;
    background-image: url(../../assets/images/icons/menu.svg);
}

.icon-delete {
    @extend .icon;
    width: 32px;
    height: 32px;
    background-image: url(../../assets/images/icons/delete.svg);
}

.icon-graph {
    @extend .icon;
    width: 32px;
    height: 32px;
    background-image: url(../../assets/images/icons/graph.svg);
}
